/* THE STYLE SHEET WILL BE STYLED TO APPLY STYLING PER PAGE AND AS DISPLAYED ON THE PAGE FROM THE TOP TO THE BOTTOM */

/* NAV BAR */
img[alt='logo']{
  width: 57px;
  height: 57px;
}

*{
  font-family: Helvetica, Arial, sans-serif;
  
}

body{
  background-color: #F2F2F2;
}


/* landing page */


h1{
font-size: 5rem;
text-transform: capitalize;
text-shadow: 3px 3px 3px #96a37a, 3px 2px 3px #b5c897;
font-weight: 400;
line-height: 44px;
color: #2a2626;
text-decoration-line: underline;
text-overflow: initial;
}

/*__________________________________________________________*/
/* checkout page */

/* checkout page buttons */
#checkoutBtn{
display: flex;
justify-content: space-between;
}
/* _____________________________________________________________ */
/* FOOTER */

footer{
  background-color: #5F6B98;
}
